USE [master]
GO
/****** Object:  Database [PoliceDB]    Script Date: 20/04/2026 14:36:18 ******/
CREATE DATABASE [PoliceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PoliziaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PoliziaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PoliceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PoliceDB]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 20/04/2026 14:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[IdLogin] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[IdLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectType]    Script Date: 20/04/2026 14:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectType](
	[IdObjectType] [int] IDENTITY(1,1) NOT NULL,
	[ObjectType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ObjectTypes] PRIMARY KEY CLUSTERED 
(
	[IdObjectType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 20/04/2026 14:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[IdPerson] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Residence] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Tel] [nvarchar](20) NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[IdPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecoveredItem]    Script Date: 20/04/2026 14:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecoveredItem](
	[IdRecoveredItem] [int] IDENTITY(1,1) NOT NULL,
	[FoundDate] [date] NOT NULL,
	[IdPerson] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[IdReport] [int] NOT NULL,
 CONSTRAINT [PK_RecoveredItem] PRIMARY KEY CLUSTERED 
(
	[IdRecoveredItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 20/04/2026 14:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[IdReport] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[ReportDate] [date] NOT NULL,
	[IdObjectType] [int] NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[IncidentDate] [date] NOT NULL,
	[IdPerson] [int] NOT NULL,
	[ImageFileUrl] [nvarchar](200) NOT NULL,
	[AgentName] [nvarchar](50) NOT NULL,
	[Solved] [bit] NOT NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[IdReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([IdLogin], [Username], [Password]) VALUES (1, N'Smith', N'123!')
INSERT [dbo].[Login] ([IdLogin], [Username], [Password]) VALUES (2, N'mario.rossi', N'PasswordSicura1!')
INSERT [dbo].[Login] ([IdLogin], [Username], [Password]) VALUES (3, N'lucia.bianchi', N'Qwerty123!')
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectType] ON 

INSERT [dbo].[ObjectType] ([IdObjectType], [ObjectType]) VALUES (21, N' ')
INSERT [dbo].[ObjectType] ([IdObjectType], [ObjectType]) VALUES (23, N'Computer / Laptop')
INSERT [dbo].[ObjectType] ([IdObjectType], [ObjectType]) VALUES (24, N'Tablet')
SET IDENTITY_INSERT [dbo].[ObjectType] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([IdPerson], [Name], [Surname], [Residence], [Address], [Tel], [DocumentType]) VALUES (1, N'Marco', N'Rinaldi', N'Milano', N'Via Verdi 12', N'3351122334', N'Identity Card')
INSERT [dbo].[Person] ([IdPerson], [Name], [Surname], [Residence], [Address], [Tel], [DocumentType]) VALUES (2, N'Sara', N'Bianchi', N'Roma', N'Via Appia 220', N'3289988776', N'Passport')
INSERT [dbo].[Person] ([IdPerson], [Name], [Surname], [Residence], [Address], [Tel], [DocumentType]) VALUES (3, N'Luca', N'Moretti', N'Torino', N'Corso Francia 45', N'3476655443', N'Driver''s License')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[RecoveredItem] ON 

INSERT [dbo].[RecoveredItem] ([IdRecoveredItem], [FoundDate], [IdPerson], [Description], [IdReport]) VALUES (4, CAST(N'2025-12-04' AS Date), 1, N'oijoij', 3)
SET IDENTITY_INSERT [dbo].[RecoveredItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([IdReport], [Type], [ReportDate], [IdObjectType], [Description], [IncidentDate], [IdPerson], [ImageFileUrl], [AgentName], [Solved]) VALUES (1, N'Stolen', CAST(N'2025-12-04' AS Date), 40, N'Giulia reported the theft of a gold chain with a ruby pendant.', CAST(N'2025-11-02' AS Date), 7, N'/img/639004605659519804.png', N'Adam Smith', 0)
INSERT [dbo].[Report] ([IdReport], [Type], [ReportDate], [IdObjectType], [Description], [IncidentDate], [IdPerson], [ImageFileUrl], [AgentName], [Solved]) VALUES (2, N'Lost', CAST(N'2025-12-04' AS Date), 41, N'Luca reported a lost phone on December 1st.', CAST(N'2025-12-01' AS Date), 3, N'/img/639004656295736668.png', N'Carson Mandid', 0)
INSERT [dbo].[Report] ([IdReport], [Type], [ReportDate], [IdObjectType], [Description], [IncidentDate], [IdPerson], [ImageFileUrl], [AgentName], [Solved]) VALUES (3, N'Lost', CAST(N'2025-12-05' AS Date), 31, N'A backpack was reported lost at the central station in Messina.', CAST(N'2025-12-01' AS Date), 6, N'/img/639005326498479201.png', N'Rosy Fincost', 1)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
ALTER TABLE [dbo].[RecoveredItem]  WITH CHECK ADD  CONSTRAINT [FK_RecoveredItem_Person] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Person] ([IdPerson])
GO
ALTER TABLE [dbo].[RecoveredItem] CHECK CONSTRAINT [FK_RecoveredItem_Person]
GO
ALTER TABLE [dbo].[RecoveredItem]  WITH CHECK ADD  CONSTRAINT [FK_RecoveredItem_Report] FOREIGN KEY([IdReport])
REFERENCES [dbo].[Report] ([IdReport])
GO
ALTER TABLE [dbo].[RecoveredItem] CHECK CONSTRAINT [FK_RecoveredItem_Report]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ObjectType] FOREIGN KEY([IdObjectType])
REFERENCES [dbo].[ObjectType] ([IdObjectType])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ObjectType]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Person] FOREIGN KEY([IdPerson])
REFERENCES [dbo].[Person] ([IdPerson])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Person]
GO
USE [master]
GO
